{% extends "layout.html" %}

{% block body %}

        <div class="container animate__animated animate__fadeIn">
            <h1 class="title">About me</h1>
            <p>Talent is distributed globally but opportunities aren't. I want to change that.</p>
            <p>My name is Malik and I dream and fight for a world where anyone can have the freedom to decide who they want to be and what they want to pursue.</p>
            <p>Originally from Lisbon. I'm currently building <a class="link" href="https://www.linkedin.com/company/upframe/" target="_blank">Upframe</a>, the mentor network for accelerators. In addition, I'm studying Product Management at <a class="link" href="https://code.berlin/" target="blank">CODE University</a> in Berlin and taking CS50 from Harvard online.</p>
            <br>
            <h2 class="title">My Values</h2>
            <p>I care about making others feel like they belong.</p>
            <p>I believe curation is the key to better products and companies.</p>
            <br><hr>
        </div>

{% endblock %}