{% extends "layout.html" %}

{% block body %}

<div class="container animate__animated animate__fadeIn">
    <h1 class="title">Get in touch</h1>
    <br>
    <h2 class="title">Newsletter</h2>
    <p>Every now and then, I send my thoughts on life, love and work inspired by Seth Godin. Letters are sent via Substack. No SPAM. </p>
    <form class="newsletter" onsubmit="getEmail()">
        <input type="text" id="email" placeholder="Type your email">
        <input type="submit" class="button" value="Join newsletter">
    </form>
    <br><br>
    <h2 class="title">Around the web</h2>
                <p>I share content related with product strategy, network effects and the Portuguese startup scene.</p>
    <ul>
        <li><a class="link" href="https://twitter.com/likpiara" target="_blank">Twitter</a></li>
        <li><a class="link" href="https://www.linkedin.com/in/malikpiara/" target=”_blank”>Linkedin.</a> I'm more likely to accept requests from people who attach an intro message.</li>
    </ul>
    <br>
    <h2 class="title">Reach me directly</h2>
    <ul>
        <li><a class="link" href="mailto:malik@hey.com" target="_blank">malik@hey.com.</a> I take one week on avarage to reply.</li>
        <li><a class="link" href="https://t.me/malikpiara" target="_blank">@malikpiara on Telegram.</a></li>
        <li><a class="link" href="https://upframe.io/malik" target="_blank">@malik at Upframe.</a> You can book a video call with me in seconds (if you have an account).</li>
    </ul>
    <br><hr>
</div>

<script>
function getEmail() {
    let email = document.querySelector('#email').value;
    alert('Hello, ' + email + '. This section is currently under construction. Please come back later!');
}
</script>

{% endblock %}