{% extends "layout.html" %}

{% block body %}

<div class="container animate__animated animate__fadeIn">
    <h1 class="title">Copy the work of others</h1>
    <p>Many people celebrate the work of Pablo Picasso, but often overlook the process that contributed to make him the genius we all know and appreciate today.</p>
    <p>At the age of 16, Picasso was living in Madrid. He spent long periods of time at the Prado museum, admiring and copying the works of great artists that came before him, like Goya and Velásquez. His story is akin to the ones told about Beethoven and Benjamin Franklin. The latter transcribed passages of his favourite writers and often tried to emulate their style, in order to improve his own.</p>

    <button type="button" class="show-more">Read more</button>
    <div class="content">
        <p>The process of copying and reflecting on the work and process of people with more experience than you, enables you to get acquainted with patterns you wouldn't have. And at a faster pace.</p>
        <p>Whenever you want to learn a new skill or improve on existing ones, realise that there is, or has been someone out there with more experience than you. With whom you can learn from. There is no shame in copying the work of others when your goal is to learn.</p>
        <p><b>a. Do not try to be original.</b> Originality comes from experience and materializes naturally when you have enough building blocks.</p>
       <p>My past experience shows me that jumping and attempting to create something of your own before having the tools to do so, often equates with a lack of self-knowledge. In order to chop down a tree, you must first sharpen the axe.</p>
       <p>With enough experience and vocabulary, you can go on to create your own work and improve on the work of others.</p>

       <b>In a nutshell:</b>
       <ol>
           <li>Find a piece of work you want to emulate.</li>
           <li>Try to copy the piece in the best fashion you deem possible.</li>
           <li>While doing so, close your eyes and try to visualize each step of the process.</li>
       </ol>
    </div>
        <br><hr><br>
        <h1 class="title">Address problems early on, before they become too big</h1>
        <p>Running away from problems won’t make them go away. This is true in our health, finance and interpersonal relationships. Along with every other domain in life. Most problems tend to snowball and get larger with time. If left unaddressed, they may reach gargantuan proportions. And go on to create problems of their own.</p>
        <p>One bill left to pay is easy to tackle. Ten bills plus interest and a damaged credit record, is harder to get away from.</p>

        <button type="button" class="show-more">Read more</button>
    <div class="content">
        <p>Tough conversations with friends or loved ones are unpleasant. But avoiding them, won’t make the underlying problems go away. More often than not, problems come back to haunt us. A small flame left unchecked often leads to multiple firestorms.</p>
        <p>Everyone screws up now and then. Learn to ask for help. Cultivate humility to admit you may have screwed up.</p>
        <p>No one enjoys dealing with trouble. Be relentless. Make addressing problems early on a priority, before you aren’t left with a choice.</p>
    </div>
    <br><hr>
</div>

<script>
var coll = document.getElementsByClassName("show-more");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
      this.style.display = 'none';
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
        content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}

</script>

{% endblock %}